@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --color-carbon-black: #101911;
  --color-lavender-mist: #F4EEFC;
  --color-muted-teal-light: #e0ebe2;
  --color-muted-teal-medium: #a3c2a7;
  --color-tangerine-dream-dark: #c43d08;
  --color-tangerine-dream: #fbb89d;
  --color-tangerine-dream-light: #fddbce;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-elms);
  background: var(--color-lavender-mist);
  color: var(--color-carbon-black);
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--font-merriweather);
  line-height: 1.4;
}

p {
  letter-spacing: 0.2px;
  font-size: 1.0rem;
}

@media (min-width: 768px) {
  p {
    font-size: 1.25rem;
  }
  a {
    font-size: 1.25rem;
  }
}

/*"carbon-black": {
          50: "#eff5f0",
          100: "#e0ebe1",
          200: "#c1d7c3",
          300: "#a2c3a6",
          400: "#83af88",
          500: "#639c6a",
          600: "#507c55",
          700: "#3c5d40",
          800: "#283e2a",
          900: "#141f15",
          950: "#0e160f",
        },
        "tangerine-dream": {
          50: "#feede7",
          100: "#fddbce",
          200: "#fbb89d",
          300: "#f9946c",
          400: "#f7703b",
          500: "#f54d0a",
          600: "#c43d08",
          700: "#932e06",
          800: "#621f04",
          900: "#310f02",
          950: "#220b01",
        },
        "muted-teal": {
          50: "#f0f5f0",
          100: "#e0ebe2",
          200: "#c2d6c5",
          300: "#a3c2a7",
          400: "#85ad8a",
          500: "#66996d",
          600: "#527a57",
          700: "#3d5c41",
          800: "#293d2c",
          900: "#141f16",
          950: "#0e150f",
        },
        "cherry-rose": {
          50: "#faeaed",
          100: "#f6d5db",
          200: "#edabb7",
          300: "#e38293",
          400: "#da5870",
          500: "#d12e4c",
          600: "#a7253d",
          700: "#7d1c2d",
          800: "#54121e",
          900: "#2a090f",
          950: "#1d060b",
        },
        "lavender-mist": {
          50: "#f1e9fb",
          100: "#e3d4f7",
          200: "#c7a8f0",
          300: "#ab7de8",
          400: "#8f52e0",
          500: "#7426d9",
          600: "#5c1fad",
          700: "#451782",
          800: "#2e0f57",
          900: "#17082b",
          950: "#10051e",
        },*/



